/*MEDIA QUERIES LAPTOP INTERVALLO 1*/

@media screen and (max-width:1440px) and (min-width:1390px) {
    /* NAV */
    .nav-links {
        width: 60%;
    }
    .nav-links li a {
        font-size: 24px;
    }
    /* /NAV */
    /* MAINPAGE */
    .top-box {
        margin: auto;
    }
    .text {
        font-size: 36px;
    }
    .desc {
        margin-left: 33%;
        font-size: 16px;
    }
    .calendar {
        width: 500px;
    }
    .wrapper {
        margin: auto auto 10%;
    }
    .articolo-pomo {
        width: 60%;
        margin: auto;
    }
    .pomo-title h3 {
        width: 100%;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 2.5rem;
        margin-bottom: 5%;
        font-weight: 700;
        color: whitesmoke;
        background-color: #e23f39;
        border-bottom: 2px solid #e22a24;
    }
    .contenuto {
        display: flex;
        flex-direction: row;
        line-height: 1.6em;
        justify-content: space-around;
        width: 90%;
        margin: auto;
    }
    .paragraph {
        padding: 2%;
        font-size: 16px;
    }
    .paragraph .mid-par {
        transform: translateY(-2%);
    }
    .paragraph:not(:last-child) {
        border-right: 3px dotted hotpink;
    }
    /**
    .page-wrapper .art-title {
        margin-top: 10%;
        font-size: 36px;
        width: 30%;
    } */
    .box-title h1 {
        margin: 30px;
        font-weight: 600;
        margin-top: 8%;
        color: #1f1e1e;
        font-size: 3rem;
    }
    /* /MAINPAGE */
    /* LOGIN */
    .welcome-text {
        font-size: 24px;
    }
    /* /LOGIN */
    /*TIMER*/
    .main {
        margin-top: 3%;
        width: 650px;
        height: 780px;
    }
    .top {
        margin-bottom: 10%;
        font-size: 50px;
    }
    .inner {
        width: 460px;
        height: 460px;
        margin: auto;
        position: relative;
    }
    .outer {
        width: 440px;
        height: 440px;
    }
    .title {
        font-size: 1.6em;
        margin-top: 100px
    }
    .timer {
        font-size: 7em;
    }
    .btnAdd {
        margin-top: 25px;
        font-size: 1em;
    }
    .btnAdd i {
        margin: 2px;
        padding: 5px;
    }
    .audio {
        width: 25px;
        margin-right: 130px;
        bottom: 100px;
        font-size: 22px;
    }
    .brk {
        font-size: 32px;
        ;
    }
    .btnBreak {
        position: absolute;
        bottom: 55px;
        margin-left: 220px;
        font-size: 24px;
    }
    /* /TIMER */
    /* CONTACT E ABOUT*/
    .contact-form {
        margin-top: 20%;
    }
    .page-wrapper-about h1 {
        font-size: 36px;
    }
    /* /CONTACT E ABOUT*/
    /* TODOLIST */
    /* TODOLIST */
}


/* LAPTOP INTERVALLO 2*/

@media screen and (max-width:1389px) and (min-width:1200px) {
    /* NAV */
    .nav-links {
        width: 60%;
    }
    .nav-links li a {
        font-size: 20px;
    }
    /* /NAV */
    /* MAINPAGE */
    .top-box {
        margin: auto;
    }
    .text {
        font-size: 36px;
    }
    .desc {
        margin-left: 33%;
        font-size: 16px;
    }
    .calendar {
        width: 500px;
    }
    .wrapper {
        margin: auto auto 10%;
    }
    .articolo-pomo {
        width: 60%;
        margin: auto;
    }
    .pomo-title h3 {
        width: 100%;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 2.5rem;
        margin-bottom: 5%;
        font-weight: 700;
        color: whitesmoke;
        background-color: #e23f39;
        border-bottom: 2px solid #e22a24;
    }
    .contenuto {
        display: flex;
        flex-direction: row;
        line-height: 1.6em;
        justify-content: space-around;
        width: 90%;
        margin: auto;
    }
    .paragraph {
        padding: 2%;
        font-size: 16px;
    }
    .paragraph .mid-par {
        transform: translateY(-2%);
    }
    .paragraph:not(:last-child) {
        border-right: 3px dotted hotpink;
    }
    .box-title h1 {
        margin: 30px;
        font-weight: 600;
        margin-top: 8%;
        color: #1f1e1e;
        font-size: 2.5rem;
    }
    /* /MAINPAGE */
    /* LOGIN */
    .welcome-text {
        font-size: 24px;
    }
    /* /LOGIN */
    /*TIMER*/
    .main {
        margin-top: 3%;
        width: 650px;
        height: 780px;
    }
    .top {
        margin-bottom: 10%;
        font-size: 50px;
    }
    .inner {
        width: 460px;
        height: 460px;
        margin: auto;
        position: relative;
    }
    .outer {
        width: 440px;
        height: 440px;
    }
    .title {
        font-size: 1.6em;
        margin-top: 100px
    }
    .timer {
        font-size: 7em;
    }
    .btnAdd {
        margin-top: 25px;
        font-size: 1em;
    }
    .btnAdd i {
        margin: 2px;
        padding: 5px;
    }
    .audio {
        width: 25px;
        margin-right: 130px;
        bottom: 100px;
        font-size: 22px;
    }
    .brk {
        font-size: 32px;
        ;
    }
    .btnBreak {
        position: absolute;
        bottom: 55px;
        margin-left: 220px;
        font-size: 24px;
    }
    /* /TIMER */
    /* CONTACT E ABOUT*/
    .contact-form {
        margin-top: 20%;
    }
    .page-wrapper-about h1 {
        font-size: 2.5rem;
    }
    /* /CONTACT E ABOUT*/
    /* TODOLIST */
    /* TODOLIST */
}


/* LAPTOP INTERVALLO 3 -> TABLET */

@media screen and (max-width:1199px) and (min-width:1024px) {
    /* NAV */
    .nav-links {
        width: 80%;
        margin-left: 10%;
    }
    .nav-links li a {
        font-size: 18px;
    }
    .usr-btn-box {
        margin-left: 20%;
    }
    /* /NAV */
    /* MAINPAGE */
    .top-box {
        margin: auto;
        justify-content: space-around;
    }
    .text {
        font-size: 36px;
    }
    .desc {
        margin-left: 25%;
        font-size: 16px;
    }
    .calendar {
        width: 500px;
    }
    .wrapper {
        margin: auto auto 10%;
    }
    .articolo-pomo {
        width: 40%;
        margin: auto;
    }
    .pomo-title h3 {
        width: 100%;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 2.5rem;
        margin-bottom: 5%;
        font-weight: 700;
        color: whitesmoke;
        background-color: #e23f39;
        border-bottom: 2px solid #e22a24;
    }
    .contenuto {
        flex-direction: column;
        line-height: 1.6em;
        width: 90%;
        margin: auto;
    }
    .paragraph {
        padding: 5%;
        font-size: 12px;
    }
    .box-title h1 {
        margin: 30px;
        font-weight: 600;
        margin-top: 8%;
        color: #1f1e1e;
        font-size: 2.5rem;
    }
    .articolo {
        width: 300px;
    }
    /* /MAINPAGE */
    /* LOGIN */
    .welcome-text {
        font-size: 24px;
    }
    /* /LOGIN */
    /*TIMER*/
    .main {
        margin-top: 20%;
        width: 650px;
        height: 780px;
    }
    .top {
        margin-bottom: 10%;
        font-size: 50px;
    }
    .inner {
        width: 460px;
        height: 460px;
        margin: auto;
        position: relative;
    }
    .outer {
        width: 440px;
        height: 440px;
    }
    .title {
        font-size: 1.6em;
        margin-top: 100px
    }
    .timer {
        font-size: 7em;
    }
    .btnAdd {
        margin-top: 25px;
        font-size: 1em;
    }
    .btnAdd i {
        margin: 2px;
        padding: 5px;
    }
    .audio {
        width: 25px;
        margin-right: 130px;
        bottom: 100px;
        font-size: 22px;
    }
    .brk {
        font-size: 32px;
        ;
    }
    .btnBreak {
        position: absolute;
        bottom: 55px;
        margin-left: 220px;
        font-size: 24px;
    }
    /* /TIMER */
    /* CONTACT E ABOUT*/
    .contact-form {
        margin-top: 40%;
    }
    .page-wrapper-about h1 {
        font-size: 36px;
    }
    /* /CONTACT E ABOUT*/
    /* TODOLIST */
    .container {
        height: 60vh;
    }
    .content {
        height: 40vh;
    }
    .add-to-do input {
        font-size: 1.2em;
    }
    /* TODOLIST */
}


/* TABLET INTERVALLO 1 */

@media screen and (max-width:1023px) and (min-width:800px) {
    /*NAV*/
    .nav-links {
        position: absolute;
        right: 0px;
        height: 80vh;
        top: 8vh;
        background-color: rgb(34, 34, 34);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 2;
    }
    .nav-links li a {
        font-size: 24px;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
    .usr-btn-box {
        margin: auto;
    }
    /* /NAV */
    /*MAIN PAGE*/
    .top-box {
        flex-direction: column;
        margin: auto;
    }
    .text {
        font-size: 30px;
    }
    .desc {
        margin-left: 31%;
        font-size: 10px;
    }
    .calendar {
        width: 450px;
    }
    .wrapper {
        width: 70%;
        margin: auto;
        padding-bottom: 5%;
    }
    .articolo-pomo {
        width: 80%;
        margin: auto;
    }
    .pomo-title h3 {
        width: 100%;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 2.5rem;
        margin-bottom: 5%;
        font-weight: 700;
        color: whitesmoke;
        background-color: #e23f39;
        border-bottom: 2px solid #e22a24;
    }
    .contenuto {
        flex-direction: row;
        line-height: 1.6em;
        width: 90%;
        flex-wrap: wrap;
        margin: auto;
    }
    .paragraph {
        padding: 5%;
        font-size: 14px;
    }
    .articles {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2%;
    }
    .articolo {
        width: 90%;
    }
    .box-title h1 {
        margin: 30px;
        font-weight: 600;
        margin-top: 8%;
        color: #1f1e1e;
        font-size: 2rem;
    }
    /* /MAIN PAGE */
    /*LOGIN*/
    .welcome-text {
        font-size: 24px;
    }
    /* /LOGIN */
    /* TIMER */
    .main {
        margin-top: 20%;
        width: 450px;
        height: 580px;
    }
    .top {
        margin-bottom: 10%;
        font-size: 38px;
    }
    .inner {
        width: 360px;
        height: 360px;
        margin: auto;
        position: relative;
    }
    .outer {
        width: 340px;
        height: 340px;
    }
    .title {
        font-size: 1.3em;
        margin-top: 70px
    }
    .timer {
        font-size: 5em;
    }
    .btnAdd {
        margin-top: 25px;
        font-size: 0.8em;
    }
    .btnAdd i {
        margin: 2px;
    }
    .audio {
        width: 25px;
        margin-right: 70px;
        bottom: 220px;
    }
    .btnBreak {
        position: absolute;
        bottom: 35px;
        margin-left: 110px;
    }
    /* /TIMER */
    /* CONTACT US*/
    .contact-form {
        margin-top: 90%;
    }
    /* /CONTACT US*/
    /* ABOUT US*/
    .page-wrapper-about h1 {
        font-size: 28px;
    }
    /* /ABOUT US */
    /* TODOLIST */
    /* TODOLIST */
    /**ARTICOLO REINDIRIZZATO DA HOME */
    .head h1 {
        padding: 2%;
    }
    /**ARTICOLO REINDIRIZZATO DA HOME */
}

.nav-active {
    transform: translateX(0%);
}


/* TABLET INTERVALLO 2 -> SMARTPHONE */

@media screen and (max-width:799px) and (min-width:480px) {
    /*NAV*/
    .nav-links {
        position: absolute;
        right: 0px;
        height: 80vh;
        top: 14vh;
        background-color: rgb(34, 34, 34);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 2;
    }
    .nav-links li a {
        font-size: 18px;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
    .usr-btn-box {
        margin: auto;
    }
    /* /NAV */
    /*MAIN PAGE*/
    .top-box {
        flex-direction: column;
        margin: auto;
    }
    .text {
        font-size: 30px;
    }
    .desc {
        margin-left: 19%;
        font-size: 10px;
        display: none;
    }
    .calendar {
        width: 400px;
    }
    .wrapper {
        width: 70%;
        margin-bottom: 5%;
        margin-left: 8%;
        margin-bottom: 20%;
    }
    .articolo-pomo {
        width: 80%;
        margin: auto;
    }
    .pomo-title h3 {
        width: 100%;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 2.5rem;
        margin-bottom: 5%;
        font-weight: 700;
        color: whitesmoke;
        background-color: #e23f39;
        border-bottom: 2px solid #e22a24;
    }
    .contenuto {
        line-height: 1.6em;
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .paragraph {
        padding: 5%;
        font-size: 14px;
    }
    .articles {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2%;
    }
    .articolo {
        width: 90%;
    }
    .box-title h1 {
        margin: 30px;
        font-weight: 600;
        margin-top: 8%;
        color: #1f1e1e;
        font-size: 2rem;
    }
    /* /MAIN PAGE */
    /*LOGIN*/
    .welcome-text h1 {
        font-size: 20px;
        margin-bottom: 5%;
    }
    .login-registration .form-box {
        width: 90%;
    }
    .cont-btn {
        margin: 0 25px 0px;
    }
    .button-box {
        margin-left: 20%;
    }
    /* /LOGIN */
    /* TIMER */
    .main {
        margin-top: 20%;
        width: 300px;
        height: 430px;
    }
    .top {
        margin-bottom: 10%;
        font-size: 24px;
    }
    .inner {
        width: 280px;
        height: 280px;
        margin: auto;
        position: relative;
    }
    .outer {
        width: 260px;
        height: 260px;
    }
    .title {
        font-size: 1em;
        margin-top: 70px
    }
    .timer {
        font-size: 3em;
    }
    .btnAdd {
        margin-top: 25px;
        font-size: 0.5em;
    }
    .btnAdd i {
        margin: 2px;
    }
    .audio {
        width: 25px;
        margin-right: 50px;
        bottom: 300px;
    }
    .btnBreak {
        position: absolute;
        bottom: 10px;
        margin-left: 30px;
    }
    /* /TIMER */
    /* CONTACT US*/
    .contact-form {
        margin-top: 90%;
    }
    /* /CONTACT US*/
    /* ABOUT US*/
    .page-wrapper-about h1 {
        font-size: 28px;
    }
    /* /ABOUT US */
    /* TODOLIST */
    .container {
        padding: 10px;
        width: 60vw;
        height: 120vh;
    }
    .sopra {
        width: 60vw;
        height: 10vh;
        background: #e23f39;
        border-radius: 15px 15px 0 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content {
        width: 60vw;
        height: 60vh;
        background-color: #FFF;
        overflow: auto;
    }
    .add-to-do {
        position: relative;
        width: 60vw;
        height: 50px;
        background-color: #FFF;
        padding: 10px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
    }
    .add-to-do i {
        position: absolute;
        font-size: 40px;
        color: #e23f39;
        transform: translateY(-10%);
    }
    .add-to-do input {
        position: absolute;
        left: 10%;
        top: 10%;
        height: 35px;
        background-color: transparent;
        border: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.3rem;
        width: 635px;
        padding-left: 1.7%;
        font-weight: 400;
        letter-spacing: 0.2px;
        margin-left: 1vw;
    }
    .item {
        width: 60vw;
        height: 45px;
        min-height: 45px;
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        list-style: none;
        font-size: 1rem;
        letter-spacing: 0.2px;
        padding: 0;
        margin: 0;
    }
    .item i.co {
        position: absolute;
        font-size: 15px;
        left: 15px;
        top: 10px;
    }
    #date {
        position: absolute;
        width: 50vw;
        color: #FFF;
        font-size: 3vh;
        transform: translateX(10%);
        margin: auto;
        text-align: center;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
    }
    .item i.co {
        position: absolute;
        font-size: 22px;
        padding-left: 5px;
        left: 15px;
        top: 10px;
    }
    .item p.text {
        position: absolute;
        padding: 0;
        margin: 0;
        font-size: 1.4rem;
        font-weight: 400;
        left: 50px;
        top: 5px;
        color: #111111;
        background-color: #FFF;
        max-width: 285px;
    }
    .lineThrough {
        text-decoration: line-through;
        color: rgba(110, 105, 105, 0.281);
        width: 500px;
    }
    .fa-check-circle {
        color: #029009;
    }
    /* TODOLIST */
    /**ARTICOLO REINDIRIZZATO DA HOME */
    .head h1 {
        padding: 3%;
    }
    /**ARTICOLO REINDIRIZZATO DA HOME */
}

.nav-active {
    transform: translateX(0%);
}


/* TODOLIST */


/* TODOLIST */


/* SMARTPHONE INTERVALLO 1 */

@media screen and (max-width:479px) and (min-width:375px) {
    /*NAV*/
    .nav-links {
        position: absolute;
        right: 0px;
        height: 80vh;
        top: 14vh;
        background-color: rgb(34, 34, 34);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 2;
    }
    .nav-links li a {
        font-size: 18px;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
    .usr-btn-box {
        margin: auto;
    }
    /* /NAV */
    /*MAIN PAGE*/
    .top-box {
        flex-direction: column;
        margin: auto;
    }
    .text {
        font-size: 30px;
    }
    .desc {
        margin-left: 9%;
        font-size: 10px;
        display: none;
    }
    .calendar {
        width: 320px;
    }
    .wrapper {
        width: 70%;
        margin-bottom: 5%;
        margin-left: 8%;
        margin-bottom: 20%;
    }
    .articolo-pomo {
        width: 80%;
        margin: auto;
    }
    .pomo-title h3 {
        width: 100%;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 1.7rem;
        margin-bottom: 5%;
        font-weight: 700;
        color: whitesmoke;
        background-color: #e23f39;
        border-bottom: 2px solid #e22a24;
    }
    .contenuto {
        flex-direction: column;
        line-height: 1.6em;
        width: 90%;
        margin: auto;
    }
    .paragraph {
        padding: 5%;
        font-size: 14px;
    }
    .articles {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2%;
    }
    .articolo {
        width: 90%;
    }
    .box-title h1 {
        margin: 30px;
        font-weight: 600;
        margin-top: 8%;
        color: #1f1e1e;
        font-size: 1.5rem;
    }
    /* /MAIN PAGE */
    /*LOGIN*/
    .welcome-text h1 {
        font-size: 16px;
        margin-bottom: 5%;
    }
    .login-registration .form-box {
        width: 90%;
    }
    .cont-btn {
        margin: 0 10px 0px;
    }
    .button-box {
        margin-left: 18%;
    }
    /* /LOGIN */
    /* TIMER */
    .main {
        margin-top: 20%;
        width: 300px;
        height: 430px;
    }
    .top {
        margin-bottom: 10%;
        font-size: 24px;
    }
    .inner {
        width: 280px;
        height: 280px;
        margin: auto;
        position: relative;
    }
    .outer {
        width: 260px;
        height: 260px;
    }
    .title {
        font-size: 1em;
        margin-top: 70px
    }
    .timer {
        font-size: 3em;
    }
    .btnAdd {
        margin-top: 25px;
        font-size: 0.5em;
    }
    .btnAdd i {
        margin: 2px;
    }
    .audio {
        width: 25px;
        margin-right: 50px;
        bottom: 300px;
    }
    .btnBreak {
        position: absolute;
        bottom: 10px;
        margin-left: 30px;
    }
    /* /TIMER */
    /* CONTACT US*/
    .contact-form {
        margin-top: 90%;
    }
    /* /CONTACT US*/
    /* ABOUT US*/
    .page-wrapper-about h1 {
        font-size: 28px;
    }
    /* /ABOUT US */
    /* TODOLIST */
    .container {
        padding: 10px;
        margin-right: 5px;
        width: 90vw;
        height: 120vh;
    }
    .sopra {
        width: 90vw;
        height: 10vh;
        background: #e23f39;
        border-radius: 15px 15px 0 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content {
        width: 90vw;
        height: 60vh;
        background-color: #FFF;
        overflow: auto;
    }
    .add-to-do {
        position: relative;
        width: 90vw;
        height: 50px;
        background-color: #FFF;
        padding: 10px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
    }
    .add-to-do i {
        position: absolute;
        font-size: 20px;
        color: #e23f39;
        transform: translateY(-10%);
    }
    .add-to-do input {
        position: absolute;
        left: 10%;
        top: 10%;
        width: 90vw;
        height: 35px;
        background-color: transparent;
        border: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.3rem;
        width: 635px;
        padding-left: 1.7%;
        font-weight: 400;
        letter-spacing: 0.2px;
        margin-left: 1vw;
    }
    .item {
        width: 90vw;
        height: 45px;
        min-height: 45px;
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        list-style: none;
        font-size: 1rem;
        letter-spacing: 0.2px;
        padding: 0;
        margin: 0;
    }
    .item i.co {
        position: absolute;
        font-size: 15px;
        left: 15px;
        top: 10px;
    }
    #date {
        position: absolute;
        width: 30vw;
        color: #FFF;
        font-size: 3vh;
        transform: translateX(10%);
        margin: auto;
        text-align: center;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
    }
    .item i.co {
        position: absolute;
        font-size: 22px;
        padding-left: 5px;
        left: 15px;
        top: 10px;
    }
    .item p.text {
        position: absolute;
        padding: 0;
        margin: 0;
        font-size: 1.4rem;
        font-weight: 400;
        left: 50px;
        top: 5px;
        color: #111111;
        background-color: #FFF;
        max-width: 285px;
    }
    .lineThrough {
        text-decoration: line-through;
        color: rgba(110, 105, 105, 0.281);
        width: 500px;
    }
    .fa-check-circle {
        color: #029009;
    }
    /* TODOLIST */
    /**ARTICOLO REINDIRIZZATO DA HOME */
    .head h1 {
        padding: 5%;
    }
    /**ARTICOLO REINDIRIZZATO DA HOME */
}

.nav-active {
    transform: translateX(0%);
}


/* SMARTPHONE INTERVALLO 2 */

@media screen and (max-width:374px) and (min-width:360px) {
    /*NAV*/
    .nav-links {
        position: absolute;
        right: 0px;
        height: 80vh;
        top: 16vh;
        background-color: rgb(34, 34, 34);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 2;
    }
    .nav-links li a {
        font-size: 18px;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
    .usr-btn-box {
        margin: auto;
    }
    /* /NAV */
    /*MAIN PAGE*/
    .top-box {
        flex-direction: column;
        margin: auto;
    }
    .text {
        font-size: 30px;
    }
    .desc {
        margin-left: 7%;
        font-size: 10px;
        display: none;
    }
    .calendar {
        width: 300px;
    }
    .wrapper {
        width: 70%;
        margin-bottom: 5%;
        margin-left: 8%;
        margin-bottom: 20%;
    }
    .articolo-pomo {
        width: 80%;
        margin: auto;
    }
    .pomo-title h3 {
        width: 100%;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 1.7rem;
        margin-bottom: 5%;
        font-weight: 700;
        color: whitesmoke;
        background-color: #e23f39;
        border-bottom: 2px solid #e22a24;
    }
    .contenuto {
        flex-direction: column;
        line-height: 1.6em;
        width: 90%;
        margin: auto;
    }
    .paragraph {
        padding: 5%;
        font-size: 14px;
    }
    .articles {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2%;
    }
    .articolo {
        width: 90%;
    }
    .box-title h1 {
        margin: 30px;
        font-weight: 600;
        margin-top: 8%;
        color: #1f1e1e;
        font-size: 1.5rem;
    }
    /* /MAIN PAGE */
    /*LOGIN*/
    .welcome-text h1 {
        font-size: 16px;
        margin-bottom: 5%;
    }
    .login-registration .form-box {
        width: 90%;
    }
    .cont-btn {
        margin: 0 10px 0px;
    }
    .button-box {
        margin-left: 18%;
    }
    /* /LOGIN */
    /* TIMER */
    .main {
        margin-top: 20%;
        width: 300px;
        height: 430px;
    }
    .top {
        margin-bottom: 10%;
        font-size: 24px;
    }
    .inner {
        width: 280px;
        height: 280px;
        margin: auto;
        position: relative;
    }
    .outer {
        width: 260px;
        height: 260px;
    }
    .title {
        font-size: 1em;
        margin-top: 70px
    }
    .timer {
        font-size: 3em;
    }
    .btnAdd {
        margin-top: 25px;
        font-size: 0.5em;
    }
    .btnAdd i {
        margin: 2px;
    }
    .audio {
        width: 25px;
        margin-right: 50px;
        bottom: 300px;
    }
    .btnBreak {
        position: absolute;
        bottom: 10px;
        margin-left: 30px;
    }
    /* /TIMER */
    /* CONTACT US*/
    .contact-form {
        margin-top: 90%;
    }
    /* /CONTACT US*/
    /* ABOUT US*/
    .page-wrapper-about h1 {
        font-size: 28px;
    }
    /* /ABOUT US */
    /* TODOLIST */
    .container {
        padding: 10px;
        width: 90vw;
        height: 120vh;
    }
    .sopra {
        width: 90vw;
        height: 10vh;
        background: #e23f39;
        border-radius: 15px 15px 0 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content {
        width: 90vw;
        height: 70vh;
        margin-right: 10px;
        background-color: #FFF;
        overflow: auto;
    }
    .add-to-do {
        position: relative;
        width: 90vw;
        height: 50px;
        background-color: #FFF;
        padding: 10px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
    }
    .add-to-do i {
        position: absolute;
        font-size: 30px;
        color: #e23f39;
        transform: translateY(-10%);
    }
    .add-to-do input {
        position: absolute;
        left: 10%;
        top: 10%;
        width: 90vw;
        height: 35px;
        background-color: transparent;
        border: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.3rem;
        width: 635px;
        padding-left: 1.7%;
        font-weight: 400;
        letter-spacing: 0.2px;
        margin-left: 1vw;
    }
    .item {
        width: 90vw;
        height: 45px;
        min-height: 45px;
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        list-style: none;
        font-size: 1rem;
        letter-spacing: 0.2px;
        padding: 0;
        margin: 0;
    }
    .item i.co {
        position: absolute;
        font-size: 15px;
        left: 15px;
        top: 10px;
    }
    #date {
        position: absolute;
        width: 30vw;
        color: #FFF;
        font-size: 3vh;
        transform: translateX(10%);
        margin: auto;
        text-align: center;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
    }
    .item i.co {
        position: absolute;
        font-size: 22px;
        padding-left: 5px;
        left: 15px;
        top: 10px;
    }
    .item p.text {
        position: absolute;
        padding: 0;
        margin: 0;
        font-size: 1.4rem;
        font-weight: 400;
        left: 50px;
        top: 5px;
        color: #111111;
        background-color: #FFF;
        max-width: 285px;
    }
    .lineThrough {
        text-decoration: line-through;
        color: rgba(110, 105, 105, 0.281);
        width: 500px;
    }
    .fa-check-circle {
        color: #029009;
    }
    /** ARTICOLO REINDIRIZZATO DA HOME */
    .head h1 {
        margin-top: 10%;
        padding: 5%;
    }
    /** ARTICOLO REINDIRIZZATO DA HOME */
}

.nav-active {
    transform: translateX(0%);
}